*.log
.DS_Store
node_modules

#Storybook
storybook-static/

#nodeModules
node_modules/.cache/storybook/
.storybook/
tsconfig.json

# Ignore the stories folder inside src
src/stories
yarn.lock
main.yml
size.yml
blah.test.tsx
package-lock.json
preview.ts
.cache
LICENSE
dist